<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新头像</title>
<link rel="shortcut icon" href="/img/index/logo.jpg" />
<link href="/plugin/cropperjs-master/resource/cropper.css"
	rel="stylesheet">
<link href="/plugin/toastr/css/toastr.min.css" rel="stylesheet">
<link href="/css/basic/style.css" rel="stylesheet" />
<link href="/plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/plugin/font-awesome-4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<style>
.container {
	max-width: 400px;
	margin: 50px auto;
}

img {
	width: 100%;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}
</style>
</head>
<body>
	<div class="container">
		<div>
			<img id="image" th:src="${session.student_info.headPic}">
		</div>
	</div>

	<div style="margin: 0 0 0 45%;">
		<div class="fileUpload btn btn-default">
			<i class="fa fa-search" aria-hidden="true"><span> 选择头像</span></i><input
				id="fileInput" type="file" class="upload" accept="image/*" />
		</div>

		<button class="btn btn-primary" type="button" id="update">
			<i class="fa fa-refresh" aria-hidden="true"> 更新</i>
		</button>
	</div>
</body>
<!-- 全局js -->
<script src="/js/basic/jquery.min.js"></script>
<script src="/plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/plugin/toastr/js/toastr.min.js"></script>
<script src="/plugin/cropperjs-master/resource/cropper.js"></script>
<script src="/plugin/layer/layer.min.js"></script>
<script>
	var image = document.getElementById('image');
	var cropper = new Cropper(image, {
		movable : false,
		zoomable : false,
		rotatable : false,
		scalable : false
	});

	var fileName;
	var input = document.getElementById("fileInput");
	var isInputChanged = false;
	input.onchange = function(e) {
		cropper.replace(window.URL.createObjectURL(event.target.files[0]));
		fileName = this.files[0].name;
		var fileType = (fileName.substring(fileName.lastIndexOf(".") + 1,
				fileName.length)).toLowerCase();
		var supportType = new Array();
		supportType[0] = 'png';
		supportType[1] = 'jpg';
		var isSuppot = false;
		for (var i = 0; i < supportType.length; i++) {
			if (supportType[i] == fileType) {
				isSuppot = true;
			}
		}
		if (isSuppot == false) {
			toastr.error("请选择上传png或jpg格式的图片");
			return false;
		}
		isInputChanged = true;
	}

	var test = document.getElementById('update');
	update.onclick = function() {
		cropper.getCroppedCanvas().toBlob(function(blob) {
			var uploadFileName;
			if (isInputChanged) {
				uploadFileName = fileName
			}
			else {
			    var img = document.getElementById("image");	
			    var src = img.src;
			    var srcDecode = decodeURIComponent(src);
				var originFileName = srcDecode.split("/")[srcDecode.split("/").length - 1];
				alert(originFileName);
				uploadFileName =  originFileName;
			}
			var loading;
			var formData = new FormData();
			formData.append('avator', blob, uploadFileName);
			$.ajax('/web/guy/headPic', {
				method : "POST",
				data : formData,
				dataType : 'json',
				processData : false,
				contentType : false,
	            beforeSend : function() {
	                     loading = layer.load(2, {
	                          shade: [0.1,'#fff'] //0.1透明度的白色背景
	                        });
	                },
				success : function(data) {
					layer.close(loading);
					console.log('Upload success');
					var winparent = window.parent; //向外层iframe发送修改的图片信息
					var postdata = {
						"origin" : "headimg",
						"imgurl" : data.jsonStr
					};
					winparent.postMessage(postdata, "*");
					toastr.success(data.errMsg.message);
				},
				error : function() {
					console.log('Upload error');
					toastr.error(data.errMsg.message);
				}
			});
		});
	};
	
</script>
</html>