<!DOCTYPE html>
<html>
<head>
<title>择栖交流平台</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="择栖工作室">
<meta name="description" content="择栖工作室nb">
<meta name="author" content="ZeqiStudio" />
<link rel="shortcut icon" href="img/index/logo.jpg">
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" type="text/css"
	href="css/basic/font-awesomes.min.css">
<link rel="stylesheet" type="text/css"
	href="css/basic/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/basic/cssreset.css">

<script type="text/javascript" src="js/basic/jquery.js"></script>
<script type="text/javascript" src="js/basic/jquery.cookie.js"></script>
<script type="text/javascript" src="js/basic/index.js"></script>
<script type="text/javascript" src="js/basic/modernizr.custom.79639.js"></script>

<link rel="stylesheet" type="text/css" href="css/basic/noJS.css" />


</head>
<body>
	<div class="nav" id="nav">
		<img src="img/index/logo.jpg" class="logo">
		<ul>
			<li class="first " data-menuanchor="page2"><a
				href="/web/articles/1&3">技术文章分享</a></li>
		</ul>
		<span class="par" id="par">
			<div id="login_out">
				<i class="icon-user"></i><span>登录</span>
			</div> <!-- <img class="user" src="./img/head.jpg" id="user"> -->
		</span>
	</div>
	<section class="article" id="section1">
		<div>
			<i>Welcome to ZeQi</i>
		</div>
	</section>
	<section class="article" id="section2">
		<div>
			<p class="p1" id="p1">
				良禽<i>择</i>木而<i>栖</i>
			</p>
			<p class="p2 beforetransform" id="p2">贤臣择主而事</p>
			<p class="p3">择栖 Studio</p>
		</div>
	</section>

	<section class="article" id="section3">
		<div class="container"></div>
	</section>

	<section class="article" id="section4">
		<div class="beforetransform2">
			<h1>我们在做什么</h1>
			<article>
				我们工作室目前主要以实战项目为主导，平时也带领学生参加各种项目比赛，也获得过许多优秀的奖项，我们在培养同学技术的同时，也强调同学们市场和产品思维的培养，帮助大家养成更好的互联网思维，培养同学们创造创新的思维，更好的适应社会的发展和潮流。
			</article>
		</div>
	</section>
	<section class="article" id="section5">
		<div class="made">

			<div class="tec part">
				<img src="img/index/tec.png">
				<p>技术部</p>
			</div>
			<div class="rhsyyhqDIV tecDes">
				<div class="content">工作室核心团队； 为工作室整体技术发展和成员的技术学习做出规划；
					其下会再细分几个技术方向的组长，负责规划组员该技术方向的学习和成长。</div>
				<s class="down"><i></i></s>
			</div>
			<div class="money part">
				<img src="img/index/money.png">
				<p>内务部</p>
			</div>
			<div class="rhsyyhqDIV moneyDes">
				<div class="content ">该部门主要负责工作室内部团队相关事务；
					主要包括设备分配、环境维护、规则制定、财务管理、书籍设备购入、资料管理等。</div>
				<s class="up"><i></i></s>
			</div>
			<div class="out part">
				<img src="img/index/out.png">
				<p>宣传部</p>
			</div>
			<div class="rhsyyhqDIV outDes">
				<div class="content">该部门主要负责对外以及宣传招新的事项；
					针对学校、学院事项的处理，招新宣传的组织、安排、策划等； 对工作室相关文档及资料进行归档整理，以便后面再用。</div>
				<s class="down"><i></i></s>
			</div>
			<div class="project part">
				<img src="img/index/project.png">
				<p>项目部</p>
			</div>
			<div class="rhsyyhqDIV projectDes">
				<div class="content">内部的活动和竞赛的相关安排；
					主要包括内部交流会、内部聚餐活动，各个竞赛开始的通知与安排； 掌握各成员的项目情况。</div>
				<s class="up"><i></i></s>
			</div>

		</div>
	</section>
	<section class="article" id="section6">
		<span>designed by ZeQi team</span>
	</section>
	<script type="text/javascript">
		
	</script>
</body>
</html>